# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output
*.out
bin

# mac
.DS_Store

# vendored dependnacies 
vendor

# certs 
*.pem 
certs
sa.json
