html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	text-align: center;
	font-family: Geneva, Verdana, sans-serif;
}

#wrapper {
	padding: 0;
	margin: 0;
	height: 100%;
	text-align: center;
	widows: 100%;
}

#page-header {
	padding: 0;
	margin: 10px 0 0 0;
	clear: both;
	break-after: always;
	height: 200px;
}

#page-header-image {
	border: 0;
	margin-left: 25px;
}

#page-header-image img {
	width: 200px;
	height: 200px;
	float: left;
}

#connection {
	float: right;
	margin: 10px;
	font-size: 1em;
}

#middle-section {
	margin: 0;
	padding: 10px;
	overflow: auto;
	background-color: #dcdcdc;
}

#middle-section div {
	margin: 5px;
}

#page-footer {
	widows: 80%;
	margin: 30px 0 0 0;
	font-size: 1em;
}

#message {
	color: #000;
	font-size: 4em;
	padding: 50px 0;
}

#version {
	color: #666;
	font-size: 2em;
	padding: 30px 0;
}

#events {
	color: #000;
	font-size: 1em;
	padding: 25px 0;
	height: 50px;
}

.error {
	color: red;
}
